{% extends "base.html" %}
{% block title %} Add USER (WTF) {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Add a new USER
			</p>
			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form_add_user.hidden_tag() }}
				<div class="form-group">
					<p>
						{{ form_add_user.user_firstname_add_wtf.label }}<br>
						{{ form_add_user.user_firstname_add_wtf(size=32) }}<br>
						{% for error in form_add_user.user_firstname_add_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_add_user.user_lastname_add_wtf.label }}<br>
						{{ form_add_user.user_lastname_add_wtf(size=32) }}<br>
						{% for error in form_add_user.user_lastname_add_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_add_user.user_birthdate_add_wtf.label }}<br>
						{{ form_add_user.user_birthdate_add_wtf(size=32) }}<br>
						{% for error in form_add_user.user_birthdate_add_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_add_user.user_photo_add_wtf.label }}<br>
						{{ form_add_user.user_photo_add_wtf(cols=50, rows=10) }}<br>
						{% for error in form_add_user.user_photo_add_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
				</div>
				{{ form_add_user.submit(class="btn btn-primary") }}
			</form>
		</div>
	</div>
</div>
{% endblock %}

