{% extends "base.html" %}
{% block title %} Add a RAM {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Add a new RAM
			</p>
			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form.hidden_tag() }}
				<div class="form-group">
					<p>
						{{ form.brand_ram_wtf.label }}<br>
						{{ form.brand_ram_wtf(size=32) }}<br>
						{% for error in form.brand_ram_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form.name_ram_wtf.label }}<br>
						{{ form.name_ram_wtf(size=32) }}<br>
						{% for error in form.name_ram_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form.capacity_ram_wtf.label }}<br>
						{{ form.capacity_ram_wtf(size=32) }}<br>
						{% for error in form.capacity_ram_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form.timings_ram_wtf.label }}<br>
						{{ form.timings_ram_wtf(size=32) }}<br>
						{% for error in form.timings_ram_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form.data_rate_ram_wtf.label }}<br>
						{{ form.data_rate_ram_wtf(size=32) }}<br>
						{% for error in form.data_rate_ram_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
				</div>
				{{ form.submit(class="btn btn-primary") }}
			</form>
		</div>
	</div>
</div>
{% endblock %}

