{% extends "base.html" %}
{% block title %} Show CPUs {% endblock %}
{% block body %}
<div class="container">
	<div class="col-md-12">
		<h1 class="text-center" style="text-decoration:underline">
				CPUs
		</h1>
		<pre></pre>
		<td class="text-center" class="align-middle">
			<a class="btn btn-primary" href="{{ url_for('cpu_add_wtf') }}" role="button">Add</a>
		</td>
		<pre></pre>
		<table class="table table-bordered table-sm">
            {% if data %}
				<thead>
					<tr>
						<th class="" >
						  CPU ID
						</th>
						<th class="" >
						  CPU Name
						</th>
						<th class="" >
						  CPU Codename
						</th>
						<th class="" >
						  CPU Socket
						</th>
						<th class="" >
						  CPU Cores
						</th>
						<th class="" >
						  CPU Clock
						</th>
						<th class="" >
						  CPU TDP
						</th>
						<th class="" >
						  CPU Release Date
						</th>
						<th class="" >

						</th>
						<th class="" >

						</th>
					</tr>
				</thead>
			{% endif %}
			{% for row in data %}
			<tbody>
				<tr>
					  <td class="align-middle">
						  {{ row.id_cpu }}
					  </td>
					  <td class="align-middle">
						{{ row.CPU_Name|default("None", True) }}
					  </td>
					  <td class="align-middle">
						{{ row.CPU_Codename|default("None", True) }}
					  </td>
					  <td class="align-middle">
						{{ row.CPU_Socket|default("None", True) }}
					  </td>
					  <td class="align-middle">
						{{ row.CPU_Cores|default("None", True) }}
					  </td>
					  <td class="align-middle">
						{{ row.CPU_Clock|default("None", True) }}
					  </td>
					  <td class="align-middle">
						{{ row.CPU_TDP|default("None", True) }}
					  </td>
					  <td class="align-middle">
						{{ row.CPU_Released|default("None", True) }}
					  </td>
					  <td class="align-middle">
						<a class="btn btn-warning" href="{{ url_for('cpu_update_wtf', id_cpu_btn_edit_html=row.id_cpu) }}" role="button">Edit</a>
					  </td>
					  <td class="align-middle">
						<a class="btn btn-danger" href="{{ url_for('cpu_delete_wtf', id_cpu_btn_delete_html=row.id_cpu) }}" role="button">Delete</a>
					  </td>
				</tr>
			</tbody>
			{% else %}
				<tbody>
					<tr>
						<td>
							No cpu.
						</td>
					</tr>
				</tbody>
			{% endfor %}

		</table>
	</div>
</div>
{% endblock %}
