{% extends "base.html" %}
{% block title %} Afficher CPU {% endblock %}
{% block body %}
<div class="container">
	<div class="col-md-12">
		<table class="table table-responsive-sm">
            {% if data %}
				<thead>
					<tr>
						<th class="" >
						  Id
						</th>
						<th class="" >
						  Name
						</th>
						<th class="" >
						  Codename
						</th>
						<th class="" >
						  Socket
						</th>
						<th class="" >
						  Cores
						</th>
						<th class="" >
						  Clock
						</th>
					</tr>
				</thead>
			{% endif %}
			{% for row in data %}
			<tbody>
				<tr>
					  <th class="align-middle">
						  {{ row.id_cpu }}
					  </th>
					  <th class="align-middle">
						{{ row.CPU_Name }}
					  </th>
					  <th class="align-middle">
						{{ row.CPU_Codename|default("", True) }}
					  </th>
					  <th class="align-middle">
						{{ row.CPU_Socket|default("", True) }}
					  </th>
					  <th class="align-middle">
						{{ row.CPU_Cores|default("", True) }}
					  </th>
					  <th class="align-middle">
						{{ row.CPU_Clock|default("", True) }}
					  </th>
					  <th class="align-middle">
						<a class="btn btn-primary" href="{{ url_for('avertissement_sympa_pour_geeks') }}" role="button">Ajouter</a>
					  </th>
					  <th class="align-middle">
						<a class="btn btn-warning" href="{{ url_for('cpu_update_wtf', id_cpu_btn_edit_html=row.id_cpu) }}" role="button">Edit</a>
					  </th>
					  <th class="align-middle">
						<a class="btn btn-danger" href="{{ url_for('avertissement_sympa_pour_geeks') }}" role="button">Delete</a>
					  </th>
					<tr>
						<td class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('edit_cpumanufacturer_cpu_selected', id_cpu_cpumanufacturer_edit_html=row.id_cpu) }}" role="button">Modifier</a>
						</td>
						<td class="align-middle" colspan="5">
							{{ row.CpumanufacturerCpu|default("PAS DE MANUFACTURER", True) }}
						</td>
					</tr>
				</tr>
			</tbody>
			{% else %}
				<tbody>
					<tr>
						<td>
							Aucun cpu.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('avertissement_sympa_pour_geeks') }}" role="button">Add</a>
						</td>
					</tr>
				</tbody>
			{% endfor %}

		</table>
	</div>
</div>
{% endblock %}
