{% extends "base.html" %}
{% block title %} Show GPUs {% endblock %}
{% block body %}
<div class="container">
	<div class="col-md-12">
		<h1 class="text-center" style="text-decoration:underline">
			GPUs & Manufacturers
		</h1>
		<th class="align-middle">
			<a class="btn btn-primary" href="{{ url_for('gpu_add_wtf') }}" role="button">Add</a>
		</th>
		<pre></pre>
		<table class="table table-responsive-sm">
            {% if data %}
				<thead>
					<tr>
						<th class="align-middle">
						  GPU ID
						</th>
						<th class="align-middle">
						  GPU Brand
						</th>
						<th class="align-middle">
						  GPU Name
						</th>
						<th class="align-middle">
						  GPU Codename
						</th>
						<th class="align-middle">
						  GPU Bus
						</th>
						<th class="align-middle">
						  GPU Memory
						</th>
						<th class="align-middle">
						  GPU Clock
						</th>
						<th class="align-middle">
						  Memory Clock
						</th>
						<th class="align-middle">
						  GPU TDP
						</th>
						<th class="align-middle">
						  GPU Release date
                        </th>
						<th class="align-middle">

                        </th>
						<th class="align-middle">

                        </th>
					</tr>
				</thead>
			{% endif %}
			{% for row in data %}
			<tbody>
				<tr>
					  <th class="align-middle">
						  {{ row.id_gpu }}
					  </th>
					  <th class="align-middle">
						{{ row.GPU_Brand|default("None", True) }}
					  </th>
					  <th class="align-middle">
						{{ row.GPU_Name|default("None", True) }}
					  </th>
					  <th class="align-middle">
						{{ row.GPU_Codename|default("None", True) }}
					  </th>
					  <th class="align-middle">
						{{ row.GPU_Bus|default("None", True) }}
					  </th>
					  <th class="align-middle">
						{{ row.GPU_Memory|default("None", True) }}
					  </th>
					  <th class="align-middle">
						{{ row.GPU_Clock|default("None", True) }}
					  </th>
					  <th class="align-middle">
						{{ row.Memory_Clock|default("None", True) }}
					  </th>
					  <th class="align-middle">
						{{ row.GPU_TDP|default("None", True) }}
					  </th>
					  <th class="align-middle">
						{{ row.GPU_Released|default("None", True) }}
					  </th>
					  <th class="align-middle">
						<a class="btn btn-warning" href="{{ url_for('gpu_update_wtf', id_gpu_btn_edit_html=row.id_gpu) }}" role="button">Edit</a>
					  </th>
					  <th class="align-middle">
						<a class="btn btn-danger" href="{{ url_for('gpu_delete_wtf', id_gpu_btn_delete_html=row.id_gpu ) }}" role="button">Delete</a>
					  </th>
					<tr>
						<td class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('edit_gpumanufacturer_gpu_selected', id_gpu_gpumanufacturer_edit_html=row.id_gpu) }}" role="button">Edit</a>
						</td>
						<td class="align-middle" colspan="5">
							{{ row.GpumanufacturerGpu|default("NO MANUFACTURER", True) }}
						</td>
					</tr>
				</tr>
			</tbody>
			{% else %}
				<tbody>
					<tr>
						<td>
							No GPU.
						</td>
					</tr>
				</tbody>
			{% endfor %}

		</table>
	</div>
</div>
{% endblock %}
