{% extends "base.html" %}
{% block title %} Delete a MANUFACTURER {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Delete MANUFACTURER
			</p>
			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form_delete.hidden_tag() }}
				<table class="table table-bordered table-sm">
					{% if data_gpu_associes %}
						<h3>This manufacturer is associated with this/these GPU(s) :</h3>
					{% else %}
						<h3>No GPU associated to this manufacturer.</h3>
					{% endif %}
					{% if data_gpu_associes %}
						<thead>
							<tr>
								<th>
									Manufacturer ID
								</th>
								<th>
									Manufacturer
								</th>
								<th>
									GPU ID
								</th>
								<th>
									GPU Name
								</th>
							</tr>
						</thead>
						{% for row in data_gpu_associes %}
							<tbody>
								<tr>
									<td>
										{{ row.id_gpu_manufacturer }}
									</td>
									<td>
										{{ row.GPU_Manufacturer }}
									</td>
									<td>
										{{ row.id_gpu }}
									</td>
									<td>
										{{ row.GPU_Name }}
									</td>
								</tr>
							</tbody>
						{% endfor %}
					{% endif %}
				</table>


				<div class="form-group">
					<p>
						{{ form_delete.nom_gpumanufacturer_delete_wtf.label }}<br>
						{{ form_delete.nom_gpumanufacturer_delete_wtf(size=32, readonly=true) }}<br>
						{% for error in form_delete.nom_gpumanufacturer_delete_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
				</div>
				{{ form_delete.submit_btn_conf_del(class="btn btn-info") }}

				{% if btn_submit_del %}
					{{ form_delete.submit_btn_del(class="btn btn-danger") }}
				{% endif %}

				{{ form_delete.submit_btn_annuler(class="btn btn-primary") }}
			</form>
		</div>
	</div>
</div>
{% endblock %}

