{% extends "base.html" %}
{% block title %} Afficher MOTHERBOARD {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Motherboard à disposition.
			</p>
			<pre></pre>
			<td class="text-center" class="align-middle">
				<a class="btn btn-primary" href="{{ url_for('motherboard_ajouter_wtf') }}" role="button">Ajouter</a>
			</td>
			<pre></pre>
            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th class="align-middle">
							Motherboard ID
                        </th>
                        <th class="align-middle">
                            Motherboard Brand
                        </th>
                        <th class="align-middle">
							Motherboard Model
                        </th>
						<th class="align-middle">
							Motherboard Release Year
                        </th>
                        <th class="align-middle">

                        </th>
                        <th class="align-middle">

                        </th>
                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
				<tbody>
					<tr>
						<td class="align-middle">
							{{ row.id_motherboard }}
						</td>
						<td class="align-middle">
							{{ row.motherboard_brand }}
						</td>
						<td class="align-middle">
							{{ row.motherboard_model }}
						</td>
						<td class="align-middle">
							{{ row.motherboard_release_year }}
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('motherboard_update_wtf', id_motherboard_btn_edit_html=row.id_motherboard) }}" role="button">Edit</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-danger" href="{{ url_for('motherboard_delete_wtf', id_motherboard_btn_delete_html=row.id_motherboard) }}" role="button">Delete</a>
						</td>
					</tr>
				</tbody>
            {% else %}
				<tbody>
					<tr>
						<td>
							Aucune MOTHERBOARD.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('motherboard_ajouter_wtf') }}" role="button">Ajouter</a>
						</td>
					</tr>
				</tbody>
            {% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}

