{% extends "base.html" %}
{% block title %} Add a MOTHERBOARD (WTF) {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Add a new MOTHERBOARD
			</p>
			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form_add_motherboard.hidden_tag() }}
				<div class="form-group">
					<p>
						{{ form_add_motherboard.nom_motherboard_wtf.label }}<br>
						{{ form_add_motherboard.nom_motherboard_wtf(size=32) }}<br>
						{% for error in form_add_motherboard.nom_motherboard_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_add_motherboard.model_motherboard_wtf.label }}<br>
						{{ form_add_motherboard.model_motherboard_wtf(size=32) }}<br>
						{% for error in form_add_motherboard.model_motherboard_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_add_motherboard.release_year_motherboard_wtf.label }}<br>
						{{ form_add_motherboard.release_year_motherboard_wtf(size=32) }}<br>
						{% for error in form_add_motherboard.release_year_motherboard_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
				</div>
				{{ form_add_motherboard.submit(class="btn btn-primary") }}
			</form>
		</div>
	</div>
</div>
{% endblock %}

