{% extends "base.html" %}
{% block title %} Homepage {% endblock %}
{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div style="text-align:center">
				<h1 style="text-decoration:underline">
				PC Builder
				</h1>
				<h3>
				Use this website to configure your PC.
				</h3>
			</div>
			<div style="text-align: center">
				<img src="../static/images/HOME/home1.png" width="70%">
			</div>
			<div style="text-align: center">
				<a href="https://www.pinclipart.com/pindetail/hxmwJJ_vector-illustration-of-computer-printed-circuit-board-computer/">image link</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}
