{% extends "base.html" %}
{% block title %} Delete a GPU {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Delete a GPU
			</p>
			<table class="table table-responsive-sm">
				{% if data_gpu_del %}
				<thead>
				<tr>
					<th class="">
						GPU ID
					</th>
					<th class="">
						GPU Brand
					</th>
					<th class="">
						GPU Name
					</th>
					<th class="">
						GPU Codename
					</th>
					<th class="">
						GPU Bus
					</th>
					<th class="">
						GPU Memory
					</th>
					<th class="">
						GPU Clock
					</th>
					<th class="">
						Memory Clock
					</th>
					<th class="">
						GPU TDP
					</th>
					<th class="">
						GPU Released
					</th>
				</tr>
				</thead>
				{% endif %}
				{% for row in data_gpu_del %}
				<tbody>
				<tr>
					<th class="align-middle">
						{{ row.id_gpu }}
					</th>
					<th class="align-middle">
						{{ row.GPU_Brand }}
					</th>
					<th class="align-middle">
						{{ row.GPU_Name }}
					</th>
					<th class="align-middle">
						{{ row.GPU_Codename|default("None", True) }}
					</th>
					<th class="align-middle">
						{{ row.GPU_Bus|default("None", True) }}
					</th>
					<th class="align-middle">
						{{ row.GPU_Memory|default("None", True) }}
					</th>
					<th class="align-middle">
						{{ row.GPU_Clock|default("None", True) }}
					</th>
					<th class="align-middle">
						{{ row.Memory_Clock|default("None", True) }}
					</th>
					<th class="align-middle">
						{{ row.GPU_TDP|default("None", True) }}
					</th>
					<th class="align-middle">
						{{ row.GPU_Released|default("None", True) }}
					</th>
				</tr>
				</tr>
				</tbody>
				{% else %}
				<tbody>
				<tr>

				</tr>
				</tbody>
				{% endfor %}

			</table>

			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form_delete_gpu.hidden_tag() }}
				{{ form_delete_gpu.submit_btn_conf_del_gpu(class="btn btn-info") }}

				{% if btn_submit_del %}
					{{ form_delete_gpu.submit_btn_del_gpu(class="btn btn-danger") }}
				{% endif %}

				{{ form_delete_gpu.submit_btn_annuler(class="btn btn-primary") }}
			</form>
		</div>
	</div>
</div>
{% endblock %}

