{% extends "base.html" %}
{% block title %} Editer une CONFIG (WTF) {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Editer une CONFIG
			</p>
			<form_update action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form_update_update.hidden_tag() }}
				<div class="form_update-group">
					<p>
						{{ form_update.config_use_case_update_wtf.label }}<br>
						{{ form_update.config_use_case_update_wtf(size=32) }}<br>
						{% for error in form_update.config_use_case_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.config_rating_update_wtf.label }}<br>
						{{ form_update.config_rating_update_wtf(size=32) }}<br>
						{% for error in form_update.config_rating_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<!-- ------- CPU -------- -->
					<p>
						{{ form_update.cpu_manufacturer_update_wtf.label }}<br>
						{{ form_update.cpu_manufacturer_update_wtf(size=32) }}<br>
						{% for error in form_update.cpu_manufacturer_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.cpu_name_update_wtf.label }}<br>
						{{ form_update.cpu_name_update_wtf(size=32) }}<br>
						{% for error in form_update.cpu_name_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.cpu_codename_update_wtf.label }}<br>
						{{ form_update.cpu_codename_update_wtf(size=32) }}<br>
						{% for error in form_update.cpu_codename_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.cpu_cores_update_wtf.label }}<br>
						{{ form_update.cpu_cores_update_wtf(size=32) }}<br>
						{% for error in form_update.cpu_cores_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.cpu_clock_update_wtf.label }}<br>
						{{ form_update.cpu_clock_update_wtf(size=32) }}<br>
						{% for error in form_update.cpu_clock_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>

					<!-- ------- Motherboard -------- -->

					<p>
						{{ form_update.motherboard_brand_update_wtf.label }}<br>
						{{ form_update.motherboard_brand_update_wtf(size=32) }}<br>
						{% for error in form_update.motherboard_brand_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.motherboard_model_update_wtf.label }}<br>
						{{ form_update.motherboard_model_update_wtf(size=32) }}<br>
						{% for error in form_update.motherboard_model_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.motherboard_chipset_update_wtf.label }}<br>
						{{ form_update.motherboard_chipset_update_wtf(size=32) }}<br>
						{% for error in form_update.motherboard_chipset_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.motherboard_release_year_update_wtf.label }}<br>
						{{ form_update.motherboard_release_year_update_wtf(size=32) }}<br>
						{% for error in form_update.motherboard_release_year_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>

					<!-- ------- RAM -------- -->

					<p>
						{{ form_update.ram_brand_update_wtf.label }}<br>
						{{ form_update.ram_brand_update_wtf(size=32) }}<br>
						{% for error in form_update.ram_brand_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.ram_name_update_wtf.label }}<br>
						{{ form_update.ram_name_update_wtf(size=32) }}<br>
						{% for error in form_update.ram_name_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.ram_capacity_update_wtf.label }}<br>
						{{ form_update.ram_capacity_update_wtf(size=32) }}<br>
						{% for error in form_update.ram_capacity_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.ram_data_rate_update_wtf.label }}<br>
						{{ form_update.ram_data_rate_update_wtf(size=32) }}<br>
						{% for error in form_update.ram_data_rate_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>

					<!-- ------- GPU -------- -->

					<p>
						{{ form_update.gpu_manufacturer_update_wtf.label }}<br>
						{{ form_update.gpu_manufacturer_update_wtf(size=32) }}<br>
						{% for error in form_update.gpu_manufacturer_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.gpu_brand_update_wtf.label }}<br>
						{{ form_update.gpu_brand_update_wtf(size=32) }}<br>
						{% for error in form_update.gpu_brand_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.gpu_name_update_wtf.label }}<br>
						{{ form_update.gpu_name_update_wtf(size=32) }}<br>
						{% for error in form_update.gpu_name_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.gpu_codename_update_wtf.label }}<br>
						{{ form_update.gpu_codename_update_wtf(size=32) }}<br>
						{% for error in form_update.gpu_codename_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.gpu_memory_update_wtf.label }}<br>
						{{ form_update.gpu_memory_update_wtf(size=32) }}<br>
						{% for error in form_update.gpu_memory_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.gpu_tdp_update_wtf.label }}<br>
						{{ form_update.gpu_tdp_update_wtf(size=32) }}<br>
						{% for error in form_update.gpu_tdp_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.gpu_released_update_wtf.label }}<br>
						{{ form_update.gpu_released_update_wtf(size=32) }}<br>
						{% for error in form_update.gpu_released_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>

					<!-- ------- Supply -------- -->

					<p>
						{{ form_update.supply_brand_update_wtf.label }}<br>
						{{ form_update.supply_brand_update_wtf(size=32) }}<br>
						{% for error in form_update.supply_brand_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.supply_model_update_wtf.label }}<br>
						{{ form_update.supply_model_update_wtf(size=32) }}<br>
						{% for error in form_update.supply_model_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.supply_power_update_wtf.label }}<br>
						{{ form_update.supply_power_update_wtf(size=32) }}<br>
						{% for error in form_update.supply_power_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.supply_certification_update_wtf.label }}<br>
						{{ form_update.supply_certification_update_wtf(size=32) }}<br>
						{% for error in form_update.supply_certification_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>

					<!-- ------- Case -------- -->

					<p>
						{{ form_update.case_brand_update_wtf.label }}<br>
						{{ form_update.case_brand_update_wtf(size=32) }}<br>
						{% for error in form_update.case_brand_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.case_model_update_wtf.label }}<br>
						{{ form_update.case_model_update_wtf(size=32) }}<br>
						{% for error in form_update.case_model_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.case_color_update_wtf.label }}<br>
						{{ form_update.case_color_update_wtf(size=32) }}<br>
						{% for error in form_update.case_color_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>

					<!-- ------- Aircooling -------- -->

					<p>
						{{ form_update.aircooling_brand_update_wtf.label }}<br>
						{{ form_update.aircooling_brand_update_wtf(size=32) }}<br>
						{% for error in form_update.aircooling_brand_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.aircooling_model_update_wtf.label }}<br>
						{{ form_update.aircooling_model_update_wtf(size=32) }}<br>
						{% for error in form_update.aircooling_model_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.aircooling_dimensions_update_wtf.label }}<br>
						{{ form_update.aircooling_dimensions_update_wtf(size=32) }}<br>
						{% for error in form_update.aircooling_dimensions_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.aircooling_fans_update_wtf.label }}<br>
						{{ form_update.aircooling_fans_update_wtf(size=32) }}<br>
						{% for error in form_update.aircooling_fans_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.aircooling_socket_support_update_wtf.label }}<br>
						{{ form_update.aircooling_socket_support_update_wtf(size=32) }}<br>
						{% for error in form_update.aircooling_socket_support_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.aircooling_fan_speed_update_wtf.label }}<br>
						{{ form_update.aircooling_fan_speed_update_wtf(size=32) }}<br>
						{% for error in form_update.aircooling_fan_speed_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>

					<!-- ------- Watercooling -------- -->

					<p>
						{{ form_update.watercooling_brand_update_wtf.label }}<br>
						{{ form_update.watercooling_brand_update_wtf(size=32) }}<br>
						{% for error in form_update.watercooling_brand_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.watercooling_model_update_wtf.label }}<br>
						{{ form_update.watercooling_model_update_wtf(size=32) }}<br>
						{% for error in form_update.watercooling_model_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.watercooling_dimensions_update_wtf.label }}<br>
						{{ form_update.watercooling_dimensions_update_wtf(size=32) }}<br>
						{% for error in form_update.watercooling_dimensions_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.watercooling_scale_update_wtf.label }}<br>
						{{ form_update.watercooling_brand_update_wtf(size=32) }}<br>
						{% for error in form_update.watercooling_brand_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.watercooling_socket_support_update_wtf.label }}<br>
						{{ form_update.watercooling_model_update_wtf(size=32) }}<br>
						{% for error in form_update.watercooling_model_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.watercooling_fan_speed_update_wtf.label }}<br>
						{{ form_update.watercooling_dimensions_update_wtf(size=32) }}<br>
						{% for error in form_update.watercooling_dimensions_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>

					<!-- ------- SSD -------- -->

					<p>
						{{ form_update.ssd_brand_update_wtf.label }}<br>
						{{ form_update.ssd_brand_update_wtf(size=32) }}<br>
						{% for error in form_update.ssd_brand_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.ssd_model_update_wtf.label }}<br>
						{{ form_update.ssd_model_update_wtf(size=32) }}<br>
						{% for error in form_update.ssd_model_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.ssd_interface_update_wtf.label }}<br>
						{{ form_update.ssd_interface_update_wtf(size=32) }}<br>
						{% for error in form_update.ssd_interface_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.ssd_form_update_factor_update_wtf.label }}<br>
						{{ form_update.ssd_form_update_factor_update_wtf(size=32) }}<br>
						{% for error in form_update.ssd_form_update_factor_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.ssd_capacity_update_wtf.label }}<br>
						{{ form_update.ssd_capacity_update_wtf(size=32) }}<br>
						{% for error in form_update.ssd_capacity_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.ssd_nand_type_update_wtf.label }}<br>
						{{ form_update.ssd_nand_type_update_wtf(size=32) }}<br>
						{% for error in form_update.ssd_nand_type_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>

					<!-- ------- HDD -------- -->

					<p>
						{{ form_update.hdd_brand_update_wtf.label }}<br>
						{{ form_update.hdd_brand_update_wtf(size=32) }}<br>
						{% for error in form_update.hdd_brand_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.hdd_model_update_wtf.label }}<br>
						{{ form_update.hdd_model_update_wtf(size=32) }}<br>
						{% for error in form_update.hdd_model_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.hdd_interface_update_wtf.label }}<br>
						{{ form_update.hdd_interface_update_wtf(size=32) }}<br>
						{% for error in form_update.hdd_interface_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.hdd_capacity_update_wtf.label }}<br>
						{{ form_update.hdd_capacity_update_wtf(size=32) }}<br>
						{% for error in form_update.hdd_capacity_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.hdd_rpm_update_wtf.label }}<br>
						{{ form_update.hdd_rpm_update_wtf(size=32) }}<br>
						{% for error in form_update.hdd_rpm_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
				</div>
				{{ form_update_update.submit(class="btn btn-primary") }}
			</form_update>
		</div>
	</div>
</div>
{% endblock %}

