{% extends "base.html" %}
{% block title %} Afficher CONFIG {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Configs à disposition.
			</p>
			<td class="text-center" class="align-middle">
				<a class="btn btn-primary" href="{{ url_for('config_ajouter_wtf') }}" role="button">Ajouter</a>
			</td>
			<pre></pre>
            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th class="align-middle">
                            Config ID
                        </th>
                        <th class="align-middle">
                            Config Use Case
                        </th>
                        <th class="align-middle">
							Config Rate
                        </th>
                        <th class="align-middle">

                        </th>
                        <th class="align-middle">

                        </th>
                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
				<tbody>
					<tr>
						<td class="align-middle">
							{{ row.id_config }}
						</td>
						<td class="align-middle">
							{{ row.config_use_case }}
						</td>
						<td class="align-middle">
							{{ row.config_rating }}
						</td>
						<td class="align-middle">
							{{ row.cpu_manufacturer }}
						</td>
						<td class="align-middle">
							{{ row.cpu_name }}
						</td>
						<td class="align-middle">
							{{ row.cpu_codename }}
						</td>
						<td class="align-middle">
							{{ row.motherboard_brand }}
						</td>
						<td class="align-middle">
							{{ row.motherboard_model }}
						</td>
						<td class="align-middle">
							{{ row.motherboard_chipset }}
						</td>
						<td class="align-middle">
							{{ row.motherboard_release_year }}
						</td>
						<td class="align-middle">
							{{ row.ram_brand }}
						</td>
						<td class="align-middle">
							{{ row.ram_name }}
						</td>
						<td class="align-middle">
							{{ row.ram_capacity }}
						</td>
						<td class="align-middle">
							{{ row.ram_data_rate }}
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('config_update_wtf', id_config_btn_edit_html=row.id_config) }}" role="button">Edit</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-danger" href="{{ url_for('config_delete_wtf', id_config_btn_delete_html=row.id_config) }}" role="button">Delete</a>
						</td>
					</tr>
				</tbody>
            {% else %}
				<tbody>
					<tr>
						<td>
							Aucune config.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('config_ajouter_wtf') }}" role="button">Ajouter</a>
						</td>
					</tr>
				</tbody>
            {% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}

