{% extends "base.html" %}
{% block title %} Effacer une CONFIG (WTF) {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Effacer une CONFIG
			</p>
			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form_delete.hidden_tag() }}
				<table class="table table-bordered table-sm">
					{% if data_config_associes %}
						<h3>Cette config est associé avec le(s) utilisateur(s) suivant(s) :</h3>
					{% else %}
						<h3>Cette config à effacer n'est associé à aucun utilisateur.</h3>
					{% endif %}
					{% if data_config_associes %}
						<thead>
							<tr>
								<th>
									UTILISATEUR(S)
								</th>
							</tr>
						</thead>
						{% for row in data_config_associes %}
							<tbody>
								<tr>
									<td>
										{{ row.user_firstname }}
									</td>
								</tr>
							</tbody>
						{% endfor %}
					{% endif %}
				</table>


				<div class="form-group">
					<p>
						{{ form_delete.config_use_case_delete_wtf.label }}<br>
						{{ form_delete.config_use_case_delete_wtf(size=32) }}<br>
						{% for error in form_delete.config_use_case_delete_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_delete.config_rating_delete_wtf.label }}<br>
						{{ form_delete.config_rating_delete_wtf(size=32) }}<br>
						{% for error in form_delete.config_rating_delete_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<!-- ------- CPU -------- -->
					<p>
						{{ form_delete.cpu_manufacturer_delete_wtf.label }}<br>
						{{ form_delete.cpu_manufacturer_delete_wtf(size=32) }}<br>
						{% for error in form_delete.cpu_manufacturer_delete_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_delete.cpu_name_delete_wtf.label }}<br>
						{{ form_delete.cpu_name_delete_wtf(size=32) }}<br>
						{% for error in form_delete.cpu_name_delete_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_delete.cpu_codename_delete_wtf.label }}<br>
						{{ form_delete.cpu_codename_delete_wtf(size=32) }}<br>
						{% for error in form_delete.cpu_codename_delete_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_delete.cpu_cores_delete_wtf.label }}<br>
						{{ form_delete.cpu_cores_delete_wtf(size=32) }}<br>
						{% for error in form_delete.cpu_cores_delete_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_delete.cpu_clock_delete_wtf.label }}<br>
						{{ form_delete.cpu_clock_delete_wtf(size=32) }}<br>
						{% for error in form_delete.cpu_clock_delete_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>

					<!-- ------- Motherboard -------- -->

					<p>
						{{ form_delete.motherboard_brand_delete_wtf.label }}<br>
						{{ form_delete.motherboard_brand_delete_wtf(size=32) }}<br>
						{% for error in form_delete.motherboard_brand_delete_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_delete.motherboard_model_delete_wtf.label }}<br>
						{{ form_delete.motherboard_model_delete_wtf(size=32) }}<br>
						{% for error in form_delete.motherboard_model_delete_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_delete.motherboard_chipset_delete_wtf.label }}<br>
						{{ form_delete.motherboard_chipset_delete_wtf(size=32) }}<br>
						{% for error in form_delete.motherboard_chipset_delete_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_delete.motherboard_release_year_delete_wtf.label }}<br>
						{{ form_delete.motherboard_release_year_delete_wtf(size=32) }}<br>
						{% for error in form_delete.motherboard_release_year_delete_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>

					<!-- ------- RAM -------- -->

					<p>
						{{ form_delete.ram_brand_delete_wtf.label }}<br>
						{{ form_delete.ram_brand_delete_wtf(size=32) }}<br>
						{% for error in form_delete.ram_brand_delete_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_delete.ram_name_delete_wtf.label }}<br>
						{{ form_delete.ram_name_delete_wtf(size=32) }}<br>
						{% for error in form_delete.ram_name_delete_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_delete.ram_capacity_delete_wtf.label }}<br>
						{{ form_delete.ram_capacity_delete_wtf(size=32) }}<br>
						{% for error in form_delete.ram_capacity_delete_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_delete.ram_data_rate_delete_wtf.label }}<br>
						{{ form_delete.ram_data_rate_delete_wtf(size=32) }}<br>
						{% for error in form_delete.ram_data_rate_delete_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>

					<!-- ------- GPU -------- -->

					<p>
						{{ form_delete.gpu_manufacturer_delete_wtf.label }}<br>
						{{ form_delete.gpu_manufacturer_delete_wtf(size=32) }}<br>
						{% for error in form_delete.gpu_manufacturer_delete_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_delete.gpu_brand_delete_wtf.label }}<br>
						{{ form_delete.gpu_brand_delete_wtf(size=32) }}<br>
						{% for error in form_delete.gpu_brand_delete_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_delete.gpu_name_delete_wtf.label }}<br>
						{{ form_delete.gpu_name_delete_wtf(size=32) }}<br>
						{% for error in form_delete.gpu_name_delete_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_delete.gpu_codename_delete_wtf.label }}<br>
						{{ form_delete.gpu_codename_delete_wtf(size=32) }}<br>
						{% for error in form_delete.gpu_codename_delete_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_delete.gpu_memory_delete_wtf.label }}<br>
						{{ form_delete.gpu_memory_delete_wtf(size=32) }}<br>
						{% for error in form_delete.gpu_memory_delete_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_delete.gpu_tdp_delete_wtf.label }}<br>
						{{ form_delete.gpu_tdp_delete_wtf(size=32) }}<br>
						{% for error in form_delete.gpu_tdp_delete_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_delete.gpu_released_delete_wtf.label }}<br>
						{{ form_delete.gpu_released_delete_wtf(size=32) }}<br>
						{% for error in form_delete.gpu_released_delete_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>

					<!-- ------- Supply -------- -->

					<p>
						{{ form_delete.supply_brand_delete_wtf.label }}<br>
						{{ form_delete.supply_brand_delete_wtf(size=32) }}<br>
						{% for error in form_delete.supply_brand_delete_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_delete.supply_model_delete_wtf.label }}<br>
						{{ form_delete.supply_model_delete_wtf(size=32) }}<br>
						{% for error in form_delete.supply_model_delete_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_delete.supply_power_delete_wtf.label }}<br>
						{{ form_delete.supply_power_delete_wtf(size=32) }}<br>
						{% for error in form_delete.supply_power_delete_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_delete.supply_certification_delete_wtf.label }}<br>
						{{ form_delete.supply_certification_delete_wtf(size=32) }}<br>
						{% for error in form_delete.supply_certification_delete_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>

					<!-- ------- Case -------- -->

					<p>
						{{ form_delete.case_brand_delete_wtf.label }}<br>
						{{ form_delete.case_brand_delete_wtf(size=32) }}<br>
						{% for error in form_delete.case_brand_delete_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_delete.case_model_delete_wtf.label }}<br>
						{{ form_delete.case_model_delete_wtf(size=32) }}<br>
						{% for error in form_delete.case_model_delete_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_delete.case_color_delete_wtf.label }}<br>
						{{ form_delete.case_color_delete_wtf(size=32) }}<br>
						{% for error in form_delete.case_color_delete_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>

					<!-- ------- Aircooling -------- -->

					<p>
						{{ form_delete.aircooling_brand_delete_wtf.label }}<br>
						{{ form_delete.aircooling_brand_delete_wtf(size=32) }}<br>
						{% for error in form_delete.aircooling_brand_delete_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_delete.aircooling_model_delete_wtf.label }}<br>
						{{ form_delete.aircooling_model_delete_wtf(size=32) }}<br>
						{% for error in form_delete.aircooling_model_delete_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_delete.aircooling_dimensions_delete_wtf.label }}<br>
						{{ form_delete.aircooling_dimensions_delete_wtf(size=32) }}<br>
						{% for error in form_delete.aircooling_dimensions_delete_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_delete.aircooling_fans_delete_wtf.label }}<br>
						{{ form_delete.aircooling_fans_delete_wtf(size=32) }}<br>
						{% for error in form_delete.aircooling_fans_delete_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_delete.aircooling_socket_support_delete_wtf.label }}<br>
						{{ form_delete.aircooling_socket_support_delete_wtf(size=32) }}<br>
						{% for error in form_delete.aircooling_socket_support_delete_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_delete.aircooling_fan_speed_delete_wtf.label }}<br>
						{{ form_delete.aircooling_fan_speed_delete_wtf(size=32) }}<br>
						{% for error in form_delete.aircooling_fan_speed_delete_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>

					<!-- ------- Watercooling -------- -->

					<p>
						{{ form_delete.watercooling_brand_delete_wtf.label }}<br>
						{{ form_delete.watercooling_brand_delete_wtf(size=32) }}<br>
						{% for error in form_delete.watercooling_brand_delete_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_delete.watercooling_model_delete_wtf.label }}<br>
						{{ form_delete.watercooling_model_delete_wtf(size=32) }}<br>
						{% for error in form_delete.watercooling_model_delete_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_delete.watercooling_dimensions_delete_wtf.label }}<br>
						{{ form_delete.watercooling_dimensions_delete_wtf(size=32) }}<br>
						{% for error in form_delete.watercooling_dimensions_delete_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_delete.watercooling_scale_delete_wtf.label }}<br>
						{{ form_delete.watercooling_brand_delete_wtf(size=32) }}<br>
						{% for error in form_delete.watercooling_brand_delete_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_delete.watercooling_socket_support_delete_wtf.label }}<br>
						{{ form_delete.watercooling_model_delete_wtf(size=32) }}<br>
						{% for error in form_delete.watercooling_model_delete_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_delete.watercooling_fan_speed_delete_wtf.label }}<br>
						{{ form_delete.watercooling_dimensions_delete_wtf(size=32) }}<br>
						{% for error in form_delete.watercooling_dimensions_delete_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>

					<!-- ------- SSD -------- -->

					<p>
						{{ form_delete.ssd_brand_delete_wtf.label }}<br>
						{{ form_delete.ssd_brand_delete_wtf(size=32) }}<br>
						{% for error in form_delete.ssd_brand_delete_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_delete.ssd_model_delete_wtf.label }}<br>
						{{ form_delete.ssd_model_delete_wtf(size=32) }}<br>
						{% for error in form_delete.ssd_model_delete_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_delete.ssd_interface_delete_wtf.label }}<br>
						{{ form_delete.ssd_interface_delete_wtf(size=32) }}<br>
						{% for error in form_delete.ssd_interface_delete_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_delete.ssd_form_delete_factor_delete_wtf.label }}<br>
						{{ form_delete.ssd_form_delete_factor_delete_wtf(size=32) }}<br>
						{% for error in form_delete.ssd_form_delete_factor_delete_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_delete.ssd_capacity_delete_wtf.label }}<br>
						{{ form_delete.ssd_capacity_delete_wtf(size=32) }}<br>
						{% for error in form_delete.ssd_capacity_delete_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_delete.ssd_nand_type_delete_wtf.label }}<br>
						{{ form_delete.ssd_nand_type_delete_wtf(size=32) }}<br>
						{% for error in form_delete.ssd_nand_type_delete_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>

					<!-- ------- HDD -------- -->

					<p>
						{{ form_delete.hdd_brand_delete_wtf.label }}<br>
						{{ form_delete.hdd_brand_delete_wtf(size=32) }}<br>
						{% for error in form_delete.hdd_brand_delete_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_delete.hdd_model_delete_wtf.label }}<br>
						{{ form_delete.hdd_model_delete_wtf(size=32) }}<br>
						{% for error in form_delete.hdd_model_delete_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_delete.hdd_interface_delete_wtf.label }}<br>
						{{ form_delete.hdd_interface_delete_wtf(size=32) }}<br>
						{% for error in form_delete.hdd_interface_delete_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_delete.hdd_capacity_delete_wtf.label }}<br>
						{{ form_delete.hdd_capacity_delete_wtf(size=32) }}<br>
						{% for error in form_delete.hdd_capacity_delete_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_delete.hdd_rpm_delete_wtf.label }}<br>
						{{ form_delete.hdd_rpm_delete_wtf(size=32) }}<br>
						{% for error in form_delete.hdd_rpm_delete_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
				</div>
				{{ form_delete.submit_btn_conf_del(class="btn btn-info") }}

				{% if btn_submit_del %}
					{{ form_delete.submit_btn_del(class="btn btn-danger") }}
				{% endif %}

				{{ form_delete.submit_btn_annuler(class="btn btn-primary") }}
			</form>
		</div>
	</div>
</div>
{% endblock %}

