{% extends "base.html" %}
{% block title %} Homepage {% endblock %}
{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div style="text-align:center">
				<h1 style="text-decoration:underline">
				PC Builder
				</h1>
				<h3 style="">
				Utilisez ce site pour configurer votre PC.
				</h3>
			</div>
			<div style="text-align: center">
				<img src="../static/images/HOME/home1.png" width="70%">
			</div>
			<ul>
				<li class="list-item">
					<a href="https://github.com/MartinsKevinn/gadanha_kevin_info1b_pcparts_164#readme">Lire le readme.md</a>
				</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}
